
body{
  background-image: url("b.avif");
  background-repeat: no-repeat;
  background-size: cover;  
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.a{
    /* background-color: #bcd7e1; */
    background-color: hsl(212, 45%, 89%);
    margin-top: 50px;
    margin-left:120px;
    margin-right: 120px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 460px;
    width:80%;
    box-sizing: border-box;
    box-shadow: 5px 7px 9px rgb(207, 206, 206);
}
.b{ box-sizing: border-box;
    height: fit-content;
    max-width:320px;
    border-radius: 12px;
    padding:9px;
    background-color:white ;
    margin-top: 200px;
    margin-bottom: 220px;
    box-sizing: border-box;
    box-shadow: 5px 7px 9px rgb(194, 193, 193);
}
.i{
    display: flex;
    justify-content: center;
    margin-top: 2px;
}
.t{ 
    padding:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-style: Regular;
}
h6{
    color:rgb(97, 96, 96);
}
.c{
    border-radius: 7px;
}
